{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/function-component-definition": ["error", { "namedComponents": "arrow-function" }],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-alert": "off",
    "react/react-in-jsx-scope": "off",
    "unused-imports/no-unused-imports": "warn",
    "unused-imports/no-unused-vars": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ],
    "no-warning-comments": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      },
      "alias": {
        "map": [
          ["@hooks", "./src/hooks"],
          ["@pages", "./src/pages"],
          ["@contexts", "./src/contexts"],
          ["@utils", "./src/utils"],
          ["@components", "./src/components"],
          ["@helpers", "./src/helpers"],
          ["@assets", "./src/assets"],
          ["@images", "./src/assets/images"],
          ["@data", "./src/assets/data"],
          ["@static", "./src/components/static"],
          ["@interactive", "./src/components/interactive"],
          ["@stores", "./src/stores"]
        ]
      }
    }
  }
}
