/* src/styles/dialogue.css */

/* Dialogue box styling */
.dialogueBox {
  flex-basis: 40%;
  position: relative;
  border: 3px var(--primary-color) double;
  padding: 15px;
  border-radius: 5px;
  overflow: hidden;
  font-family: sans-serif;
  margin-left: 20px;
  float: left;
}

.dialogueBox p {
  font-family: var(--primary-font);
  line-height: 1rem;
  font-size: 0.75rem;
}
