/* src/components/commmon/Footer.module.css */

.footer {
  /* background-color: #00ff00; */
  padding: 1rem 0;
  border-top: 3px var(--primary-color);
  border-style: double;
}

.socialLinks {
  display: flex;
  justify-content: space-evenly;
}

.socialIcon {
  font-size: 2rem;
  color: var(--primary-color);
}
