.content {
  display: flex;
  /* align-self: flex-start; */
  padding: 20px;
  /* border: 3px solid #00ff00; */
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* height: 100%; */
  flex-basis: 100%;
}

.content div {
  display: flex;
  gap: 20px;
  /* flex-basis: 25%; */
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.content div div {
  color: #00ff00;
  /* flex-basis: 300%; */
  /* position: relative; */
  /* display: block; */
  /* display: flex; */
  /* width: 100%; */
  /* flex-grow: 1; */
  flex-basis: 50%;
  border: 3px #00ff00 double;
}
