header {
  display: flex;
  align-items: stretch;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 2dvw;
  flex-direction: column;
  align-content: space-around;
}

/* Profile picture styling */
.profile-pic {
  width: 150px;
  height: 150px;
  position: relative;
  image-rendering: pixelated;
  object-fit: cover; /* Ensures the image fills the circle without distorting */
}
.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(
    0px calc(100% - 64px),
    4px calc(100% - 64px),
    4px calc(100% - 52px),
    8px calc(100% - 52px),
    8px calc(100% - 48px),
    8px calc(100% - 44px),
    12px calc(100% - 44px),
    12px calc(100% - 40px),
    12px calc(100% - 36px),
    16px calc(100% - 36px),
    16px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 16px),
    36px calc(100% - 16px),
    36px calc(100% - 12px),
    40px calc(100% - 12px),
    44px calc(100% - 12px),
    44px calc(100% - 8px),
    48px calc(100% - 8px),
    52px calc(100% - 8px),
    52px calc(100% - 4px),
    64px calc(100% - 4px),
    64px 100%,
    calc(100% - 64px) 100%,
    calc(100% - 64px) calc(100% - 4px),
    calc(100% - 52px) calc(100% - 4px),
    calc(100% - 52px) calc(100% - 8px),
    calc(100% - 48px) calc(100% - 8px),
    calc(100% - 44px) calc(100% - 8px),
    calc(100% - 44px) calc(100% - 12px),
    calc(100% - 40px) calc(100% - 12px),
    calc(100% - 36px) calc(100% - 12px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 28px) calc(100% - 16px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 24px) calc(100% - 20px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 20px) calc(100% - 24px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 16px) calc(100% - 28px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 12px) calc(100% - 36px),
    calc(100% - 12px) calc(100% - 40px),
    calc(100% - 12px) calc(100% - 44px),
    calc(100% - 8px) calc(100% - 44px),
    calc(100% - 8px) calc(100% - 48px),
    calc(100% - 8px) calc(100% - 52px),
    calc(100% - 4px) calc(100% - 52px),
    calc(100% - 4px) calc(100% - 64px),
    100% calc(100% - 64px),
    100% 64px,
    calc(100% - 4px) 64px,
    calc(100% - 4px) 52px,
    calc(100% - 8px) 52px,
    calc(100% - 8px) 48px,
    calc(100% - 8px) 44px,
    calc(100% - 12px) 44px,
    calc(100% - 12px) 40px,
    calc(100% - 12px) 36px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 36px) 12px,
    calc(100% - 40px) 12px,
    calc(100% - 44px) 12px,
    calc(100% - 44px) 8px,
    calc(100% - 48px) 8px,
    calc(100% - 52px) 8px,
    calc(100% - 52px) 4px,
    calc(100% - 64px) 4px,
    calc(100% - 64px) 0px,
    64px 0px,
    64px 4px,
    52px 4px,
    52px 8px,
    48px 8px,
    44px 8px,
    44px 12px,
    40px 12px,
    36px 12px,
    36px 16px,
    28px 16px,
    28px 20px,
    24px 20px,
    24px 24px,
    20px 24px,
    20px 28px,
    16px 28px,
    16px 36px,
    12px 36px,
    12px 40px,
    12px 44px,
    8px 44px,
    8px 48px,
    8px 52px,
    4px 52px,
    4px 64px,
    0px 64px
  );
  position: relative;
}
.pixel-corners {
  border: 4px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(
    4px 64px,
    8px 64px,
    8px 52px,
    12px 52px,
    12px 48px,
    12px 44px,
    16px 44px,
    16px 40px,
    16px 36px,
    20px 36px,
    20px 28px,
    24px 28px,
    24px 24px,
    28px 24px,
    28px 20px,
    36px 20px,
    36px 16px,
    40px 16px,
    44px 16px,
    44px 12px,
    48px 12px,
    52px 12px,
    52px 8px,
    64px 8px,
    64px 4px,
    calc(100% - 64px) 4px,
    calc(100% - 64px) 8px,
    calc(100% - 52px) 8px,
    calc(100% - 52px) 12px,
    calc(100% - 48px) 12px,
    calc(100% - 44px) 12px,
    calc(100% - 44px) 16px,
    calc(100% - 40px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 36px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 36px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 40px,
    calc(100% - 16px) 44px,
    calc(100% - 12px) 44px,
    calc(100% - 12px) 48px,
    calc(100% - 12px) 52px,
    calc(100% - 8px) 52px,
    calc(100% - 8px) 64px,
    calc(100% - 4px) 64px,
    calc(100% - 4px) calc(100% - 64px),
    calc(100% - 8px) calc(100% - 64px),
    calc(100% - 8px) calc(100% - 52px),
    calc(100% - 12px) calc(100% - 52px),
    calc(100% - 12px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 44px),
    calc(100% - 16px) calc(100% - 44px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 20px) calc(100% - 36px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 36px) calc(100% - 20px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 44px) calc(100% - 16px),
    calc(100% - 44px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 12px),
    calc(100% - 52px) calc(100% - 12px),
    calc(100% - 52px) calc(100% - 8px),
    calc(100% - 64px) calc(100% - 8px),
    calc(100% - 64px) calc(100% - 4px),
    64px calc(100% - 4px),
    64px calc(100% - 8px),
    52px calc(100% - 8px),
    52px calc(100% - 12px),
    48px calc(100% - 12px),
    44px calc(100% - 12px),
    44px calc(100% - 16px),
    40px calc(100% - 16px),
    36px calc(100% - 16px),
    36px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 36px),
    16px calc(100% - 36px),
    16px calc(100% - 40px),
    16px calc(100% - 44px),
    12px calc(100% - 44px),
    12px calc(100% - 48px),
    12px calc(100% - 52px),
    8px calc(100% - 52px),
    8px calc(100% - 64px),
    4px calc(100% - 64px)
  );
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: '';
  position: absolute;
  clip-path: polygon(
    0px calc(100% - 64px),
    4px calc(100% - 64px),
    4px calc(100% - 52px),
    8px calc(100% - 52px),
    8px calc(100% - 48px),
    8px calc(100% - 44px),
    12px calc(100% - 44px),
    12px calc(100% - 40px),
    12px calc(100% - 36px),
    16px calc(100% - 36px),
    16px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 16px),
    36px calc(100% - 16px),
    36px calc(100% - 12px),
    40px calc(100% - 12px),
    44px calc(100% - 12px),
    44px calc(100% - 8px),
    48px calc(100% - 8px),
    52px calc(100% - 8px),
    52px calc(100% - 4px),
    64px calc(100% - 4px),
    64px 100%,
    calc(100% - 64px) 100%,
    calc(100% - 64px) calc(100% - 4px),
    calc(100% - 52px) calc(100% - 4px),
    calc(100% - 52px) calc(100% - 8px),
    calc(100% - 48px) calc(100% - 8px),
    calc(100% - 44px) calc(100% - 8px),
    calc(100% - 44px) calc(100% - 12px),
    calc(100% - 40px) calc(100% - 12px),
    calc(100% - 36px) calc(100% - 12px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 28px) calc(100% - 16px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 24px) calc(100% - 20px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 20px) calc(100% - 24px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 16px) calc(100% - 28px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 12px) calc(100% - 36px),
    calc(100% - 12px) calc(100% - 40px),
    calc(100% - 12px) calc(100% - 44px),
    calc(100% - 8px) calc(100% - 44px),
    calc(100% - 8px) calc(100% - 48px),
    calc(100% - 8px) calc(100% - 52px),
    calc(100% - 4px) calc(100% - 52px),
    calc(100% - 4px) calc(100% - 64px),
    100% calc(100% - 64px),
    100% 64px,
    calc(100% - 4px) 64px,
    calc(100% - 4px) 52px,
    calc(100% - 8px) 52px,
    calc(100% - 8px) 48px,
    calc(100% - 8px) 44px,
    calc(100% - 12px) 44px,
    calc(100% - 12px) 40px,
    calc(100% - 12px) 36px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 36px) 12px,
    calc(100% - 40px) 12px,
    calc(100% - 44px) 12px,
    calc(100% - 44px) 8px,
    calc(100% - 48px) 8px,
    calc(100% - 52px) 8px,
    calc(100% - 52px) 4px,
    calc(100% - 64px) 4px,
    calc(100% - 64px) 0px,
    64px 0px,
    64px 4px,
    52px 4px,
    52px 8px,
    48px 8px,
    44px 8px,
    44px 12px,
    40px 12px,
    36px 12px,
    36px 16px,
    28px 16px,
    28px 20px,
    24px 20px,
    24px 24px,
    20px 24px,
    20px 28px,
    16px 28px,
    16px 36px,
    12px 36px,
    12px 40px,
    12px 44px,
    8px 44px,
    8px 48px,
    8px 52px,
    4px 52px,
    4px 64px,
    0px 64px,
    0px 50%,
    4px 50%,
    4px 64px,
    8px 64px,
    8px 52px,
    12px 52px,
    12px 48px,
    12px 44px,
    16px 44px,
    16px 40px,
    16px 36px,
    20px 36px,
    20px 28px,
    24px 28px,
    24px 24px,
    28px 24px,
    28px 20px,
    36px 20px,
    36px 16px,
    40px 16px,
    44px 16px,
    44px 12px,
    48px 12px,
    52px 12px,
    52px 8px,
    64px 8px,
    64px 4px,
    calc(100% - 64px) 4px,
    calc(100% - 64px) 8px,
    calc(100% - 52px) 8px,
    calc(100% - 52px) 12px,
    calc(100% - 48px) 12px,
    calc(100% - 44px) 12px,
    calc(100% - 44px) 16px,
    calc(100% - 40px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 36px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 36px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 40px,
    calc(100% - 16px) 44px,
    calc(100% - 12px) 44px,
    calc(100% - 12px) 48px,
    calc(100% - 12px) 52px,
    calc(100% - 8px) 52px,
    calc(100% - 8px) 64px,
    calc(100% - 4px) 64px,
    calc(100% - 4px) calc(100% - 64px),
    calc(100% - 8px) calc(100% - 64px),
    calc(100% - 8px) calc(100% - 52px),
    calc(100% - 12px) calc(100% - 52px),
    calc(100% - 12px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 44px),
    calc(100% - 16px) calc(100% - 44px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 20px) calc(100% - 36px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 36px) calc(100% - 20px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 44px) calc(100% - 16px),
    calc(100% - 44px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 12px),
    calc(100% - 52px) calc(100% - 12px),
    calc(100% - 52px) calc(100% - 8px),
    calc(100% - 64px) calc(100% - 8px),
    calc(100% - 64px) calc(100% - 4px),
    64px calc(100% - 4px),
    64px calc(100% - 8px),
    52px calc(100% - 8px),
    52px calc(100% - 12px),
    48px calc(100% - 12px),
    44px calc(100% - 12px),
    44px calc(100% - 16px),
    40px calc(100% - 16px),
    36px calc(100% - 16px),
    36px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 36px),
    16px calc(100% - 36px),
    16px calc(100% - 40px),
    16px calc(100% - 44px),
    12px calc(100% - 44px),
    12px calc(100% - 48px),
    12px calc(100% - 52px),
    8px calc(100% - 52px),
    8px calc(100% - 64px),
    4px calc(100% - 64px),
    4px 50%,
    0px 50%
  );
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00ff00;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -4px;
}

/* Navbar styling */
nav {
  background-color: #000;
  padding: 10px;
  /* border-radius: 5px; */
  width: 100dvw;
  border-top: 3px #00ff00;
  border-bottom: 3px #00ff00;
  border-style: double;
}

/* Navbar list styling */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

/* Navbar item styling */
nav li {
}

/* Navbar link styling */
nav a {
  text-decoration: none;
  color: #00ff00;
  font-family: 'Press Start 2P';
}
